/* select body */
body {
  /* align text to center */
  text-align: center;
  /* background color is black */
  background-color: black;
  /* font color is white */
  color: white;
  /* prevent text selection */
  user-select: none;
}

/* select message class */
.message {
  /* font color is white */
  color: white;
}

/* select board class */
.board {
  /* top padding is 3em */
  padding-top: 3em;
}

/* select h1 elements */
h1 {
  /* align text to center */
  text-align: center;
}

/* select div in row class */
.row > div {
  /* float all tiles to the left */
  float: left;
  /* height of all tiles is 100px */
  height: 100px;
  /* width of all tiles is 100px */
  width: 100px;
}

/* after row class */
.row::after {
  /* nothing can float to the left of this element */
  clear: left;
}

/* select row class */
.row {
  /* auto determine margin to sit centrally */
  margin: 0 auto;
  /* width is 302px */
  width: 302px;
  /* align text to center */
  text-align: center;
  /* font size 5em */
  font-size: 5em;
}

/* select top class */
.top {
  /* solid white border 1px wide across the bottom */
  border-bottom: 1px solid white;
  /* mouse over is a pointer */
  cursor: pointer;
}

/* select right class */
.right {
  /* solid white border 1px wide across the left side */
  border-left: 1px solid white;
  /* mouse over is a pointer */
  cursor: pointer;
}

/* select bottom class */
.bottom {
  /* solid white border 1px wide across the top */
  border-top: 1px solid white;
  /* mouse over is a pointer */
  cursor: pointer;
}

/* select left class */
.left {
  /* solid white border 1px wide across the right side */
  border-right: 1px solid white;
  /* mouse over is a pointer */
  cursor: pointer;
}

/* select center class */
.center {
  /* mouse over is a pointer */
  cursor: pointer;
}
